@media (prefers-color-scheme: dark) {
  body {
    background: #fff !important;
    color: black
  }

  input,
  select,
  textarea {
    background-color: white !important;
  }
}

body {
  font-family: 'Arial', sans-serif;

  /* font-style: normal; */

  /* line-height: 30px; */
  /* color: #333333; */
    /* font-style: normal; */

  /* line-height: 30px; */
  /* color: #333333; */
}